body,
html,
#root {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header y filtros ya son componentes externos */

/* Layout de Xat */
.app-main {
    display: flex;
    flex: 1;
    /* ocupa el espacio restante */
    overflow: hidden;
}

/* Sidebar de usuarios */
.app-main aside {
    width: 250px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 10px;
}

/* Chat */
.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Header interno del chat */
.chat-header {
    height: 50px;
    background-color: #f6f7f8;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
}

/* Body del chat */
.chat-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    background-color: #e5e5e5;
}

/* Scroll en mensajes */
.chat-body>div {
    flex: 1;
    overflow-y: auto;
}

/* Input de mensajes */
.message-input {
    margin-top: 8px;
}